body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
}

.main-window {
  width:400px;
  height:300px;
  margin:auto;
  display:block;
  vertical-align: middle;
  border:1px solid #fff;
  background-color:rgba(255,255,255,0.5);
}

.login-container {
  margin:20px;
  vertical-align: middle;
}
